{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# タイトル #}
{% block title %}管理者ログインページ｜eALPSポータル{% endblock %}

{# メインコンテンツ #}
{% block content %}	

	<div class="schedule">
		
		<ul id="yearTab" class="nav nav-tabs">
			{% for fiscalYear, URLYearArray in URLArray %}
			<li class="tab_{{ fiscalYear }}{% if loop.first %} active{% endif %}"><a href="#{{ fiscalYear }}"><i class="icon-tag"></i>&nbsp;{{ fiscalYear }}</a></li>
			{% if fiscalYear >= 2013 %}
			<li class="tab_{{ fiscalYear }}_notELB"><a href="#{{ fiscalYear }}_notELB"><i class="icon-tag"></i>&nbsp;{{ fiscalYear }} not ELB</a></li>
			{% endif %}
			{% endfor %}
			<li class="tab_other"><a href="#other"><i class="icon-tag"></i>&nbsp;その他</a></li>
		</ul>
	
		<div class="tab-content">
			{% for fiscalYear, URLYearArray in URLArray %}
			<div id="{{ fiscalYear }}" class="tab-pane fade{% if loop.first %} active in{% endif %}">
				<section class="well">
					<h1>管理者ログインフォーム</h1>
					<form class="form-horizontal adminLoginForm" method="post" target="_self">
						<fieldset>
							<div class="control-group">
								<label class="control-label">ログインするサイト</label>
								<div class="controls">
									<select class="span3" name="{{ fiscalYear }}_loginSite">
										{% for siteName, site in URLYearArray %}
										<option name="{{ fiscalYear }}_{{ site.siteENName }}" label="{{ siteName }}" value="{{ site.url }}">{{ siteName }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">ユーザID</label>
								<div class="controls">
									<input type="text" name="username" class="input-large" alt="UserID" />
								</div>
							</div>
								
							<div class="control-group">
								<label class="control-label">パスワード</label>
								<div class="controls">
									<input type="password" name="password" class="input-large" alt="Password" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">新しいタブで開く</label>
								<div class="controls">
									<input class="windowCheck" type="checkbox" />
								</div>
							</div>
								
							<div class="form-actions">
								<button type="submit" class="btn">ログイン</button>
							</div>
						</fieldset>
					</form>
					<br />
				</section>
			</div>
			{% if fiscalYear >= 2013 and not notELBURL == false %}
			<div id="{{ fiscalYear }}_notELB" class="tab-pane fade">
				<section class="well">
					<h1>管理者ログインフォーム（ELBなし）</h1>
					<form class="form-horizontal adminLoginForm" method="post" target="_self">
						<fieldset>
							<div class="control-group">
								<label class="control-label">ログインするサイト</label>
								<div class="controls">
									<select class="span3" name="{{ fiscalYear }}_loginSite">
										{% for siteName, site in URLYearArray %}
										<option name="{{ fiscalYear }}_{{ site.siteENName }}" label="{{ siteName }}" value="{{ notELBURL }}/{{ fiscalYear }}/{{ site.siteENName }}/login/index.php">{{ siteName }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">ユーザID</label>
								<div class="controls">
									<input type="text" name="username" class="input-large" alt="UserID" />
								</div>
							</div>
								
							<div class="control-group">
								<label class="control-label">パスワード</label>
								<div class="controls">
									<input type="password" name="password" class="input-large" alt="Password" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">新しいタブで開く</label>
								<div class="controls">
									<input class="windowCheck" type="checkbox" />
								</div>
							</div>
								
							<div class="form-actions">
								<button type="submit" class="btn">ログイン</button>
							</div>
						</fieldset>
					</form>
					<br />
				</section>
			</div>
			{% endif %}
			{% endfor %}
			<div id="other" class="tab-pane fade">
				<section class="well">
					<h1>管理者ログインフォーム</h1>
					<form class="form-horizontal adminLoginForm" method="post" target="_self">
						<fieldset>
							<div class="control-group">
								<label class="control-label">ログインするサイト</label>
								<div class="controls">
									<input id="loginSiteText" class="input-xxlarge" type="text" name="username" alt="UserID" value="https://moodle-cloud.ealps.shinshu-u.ac.jp/年度/学部/login/index.php"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">ユーザID</label>
								<div class="controls">
									<input type="text" name="username" class="input-large" alt="UserID" />
								</div>
							</div>
								
							<div class="control-group">
								<label class="control-label">パスワード</label>
								<div class="controls">
									<input type="password" name="password" class="input-large" alt="Password" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">新しいタブで開く</label>
								<div class="controls">
									<input class="windowCheck" type="checkbox" />
								</div>
							</div>
								
							<div class="form-actions">
								<button type="submit" class="btn">ログイン</button>
							</div>
						</fieldset>
					</form>
					<br />
				</section>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// 初期表示のタブ
			$('#yearTab a:first').tab('show');
		});
		
		// 年度タブ制御（bootstrap.js）
		$('#yearTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		// ドロップダウン選択時
		$('select').change(function() {
			var loginURL = $(this).val();
			$(this).parents('form').attr('action', loginURL);
		});
		
		// テキストフォーム入力時
		$('#loginSiteText').bind('keyup', function() {
			$(this).parents('form').attr('action', $(this).val());
		});
		
		// チェックボックス操作時
		$('.windowCheck').click(function() {
			if($(this).prop('checked')) {
				$('form').attr('target', '_blank');
				$('.windowCheck').prop('checked', true);
			} else {
				$('form').attr('target', '_self');
				$('.windowCheck').prop('checked', false);
			}
		});
	</script>

{% endblock %}