{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div>
		<section class="well">
			<h1>教員免許更新講習&nbsp;自動ログイン</h1>
{#  			<form id="autoLoginForm" class="form-horizontal" method="post" action="{{ redirectURL }}" target="_blank"> #}
{# 			<form id="autoLoginForm" class="form-horizontal" method="post" action="https://moodle-cloud.ealps.shinshu-u.ac.jp/2013/fdsd/login/index.php"> #}
				{#
<fieldset>
					<input id="inputId" type="text" name="j_username" value="{{ username }}" />
					<input type="text" name="username" class="input-large" alt="UserID" />
					<input id="inputPassword" type="password" name="j_password" value="{{ password }}" />
					<input type="submit" name="login" value="自動で画面が切り替わらない方はこちらをクリック" />
				</fieldset>
			</form>
#}
			
			<form class="form-horizontal adminLoginForm" method="post" target="_self">
				<fieldset>
					<div class="control-group">
						<label class="control-label">ユーザID</label>
						<div class="controls">
							<input type="text" name="j_username" class="input-large" alt="UserID" value="{{ username }}" />
						</div>
					</div>
						
					<div class="control-group">
						<label class="control-label">パスワード</label>
						<div class="controls">
							<input type="password" name="j_password" class="input-large" alt="Password" value="{{ password }}"/>
						</div>
					</div>
						
					<div class="form-actions">
						<button type="submit" class="btn">ログイン</button>
					</div>
				</fieldset>
			</form>
			
			<br />
		</section>
	</div>
	
	{#
<div>
		<pre>{{ username }}</pre>
		<pre>{{ password }}</pre>
		<pre>{{ redirectURL }}</pre>
	</div>
#}
	
	<script type="text/javascript">
		$(document).ready(function(){
			// 自動ログイン
			//$('#autoLoginForm').submit();
		});
	</script>
{% endblock %}