{# 時間割 #}

	<section id="viewOption" class="well">
		<h1>表示オプション</h1>
		<dl>
			<dt>表示形式</dt>
			<dd class="btn-group" data-toggle="buttons-radio">
				<button class="btn btn-success courseScheduleRadio active"><i class="icon-th icon-white"></i>&nbsp;時間割</button>
				<button class="btn btn-success courseListRadio"><i class="icon-th-list icon-white"></i>&nbsp;履修コースリスト</button>
				<button class="btn btn-success ealpsListRadio"><i class="icon-list-alt icon-white"></i>&nbsp;学部別eALPSリスト</button>
			</dd>
		</dl>
		<dl class="control-group">
			<dt class="control-label">期間</dt>
			<dd class="btn-group" data-toggle="buttons-checkbox">
				<button class="btn btn-success firstSemesterCheck"><i></i>&nbsp;前期&nbsp;</button>
				<button class="btn btn-success secondSemesterCheck"><i></i>&nbsp;後期&nbsp;</button>
				<button class="btn btn-success throughSemesterCheck"><i></i>&nbsp;通年&nbsp;</button>
				<button class="btn btn-success irregularSemesterCheck"><i></i>&nbsp;不定期&nbsp;</button>
			</dd>
		</dl>
	</section>
	
	<div class="schedule tabbable">
		
		<ul id="yearTab" class="nav nav-tabs">
			{% for fiscalYear, courseYearViewArray in courseViewArray %}
			<li class="tab_{{ fiscalYear }}{% if loop.first %}active{% endif %}"><a href="#{{ fiscalYear }}"><i class="icon-tag"></i>&nbsp;{{ fiscalYear }}</a></li>
			{% endfor %}
			
			<li class="pull-right"><button class="btn btn-success ealpsListButton toolTip" rel="tooltip" data-toggle="tooltip" data-placement="top" data-html="true" data-title="このボタンをクリックすると以前のバージョンと同様の学部毎eALPS一覧を表示することができます．<br />クリック後，再び時間割表示に戻すには，左の表示オプションボタンをクリックして設定を変更してください．"><i class="icon-white icon-backward"></i>&nbsp;学部一覧</button></li>
			<li class="pull-right">&nbsp;</li>
			<li class="pull-right"><button class="btn btn-success courseScheduleButton" rel="tooltip" data-placement="top" data-original-title="hogehoge"><i class="icon-white icon-backward"></i>&nbsp;時間割</button></li>
			<li class="pull-right">&nbsp;</li>
			
			<li class="pull-right"><button class="btn btn-success viewOptionCheck"><i class="icon-cog"></i>&nbsp;表示オプション</button></li>
			
			<li class="pull-right">&nbsp;</li>
			<li class="pull-right"><button class="btn btn-success scheduleHelpFolderButton" rel="tooltip" data-placement="top" data-original-title="hogehoge"><i class="icon-white icon-folder-open"></i>&nbsp;各種資料</button></li>

		</ul>
	
		<div class="tab-content">
		
			{% for fiscalYear, courseYearViewArray in courseViewArray %}
			<div id="{{ fiscalYear }}" class="tab-pane fade{% if loop.first %} active in{% endif %}">
				
				{% for viewType, view in courseYearViewArray %}
				<div>
				{% if viewType == 'courseSchedule' %}
					<div class="{{ viewType }}">
						<table class="table table-striped table-bordered table-condensed schedule">
							<thead>
								<tr>
									<th class="courseHour">&nbsp;</th>
									<th>月曜</th>
									<th>火曜</th>
									<th>水曜</th>
									<th>木曜</th>
									<th>金曜</th>
								</tr>
							</thead>
							<tbody>
								{% for hourKey, week in view.table %}
								<tr>
									<td class="courseHour">{{ hourKey }}</td>
									{% for weekKey, dayCourseArray in week %}
									<td>
										<ul class="unstyled">
											{% for course in dayCourseArray %}
											<li class="{{ course.semester }}">
												<dl class="dl-horizontal">
													<dt><i class="icon-book"></i>&nbsp;</dt>
													<dd><a href="{{ course.URL }}" target="{{ course.URLTarget }}" class="toolTip" title="{{ course.relation.getRelationRole().getCaption() }}">{{ course.titleName }}</a></dd>
													{% if course.teacherArray %}
													<dt><i class="icon-user"></i>&nbsp;</dt>
													<dd>{{ course.teacherArray | first }}</dd>
													{% endif %}
													{% if course.subTeacherArray %}
													<dt><i class="icon-user"></i>&nbsp;</dt>
													<dd><span class="toolTip" data-toggle="tooltip" title="{{ course.subTeachers }}">...</span></dd>
													{% endif %}
													<dt><i class="icon-info-sign"></i>&nbsp;</dt>
													<dd><a href="{{ course.informationURL }}" target="{{ course.URLTarget }}">コース情報</a></dd>
													{% if course.attachmentArray %}
													{% for attachment in course.attachmentArray %}
													<dt><i class="icon-file"></i>&nbsp;</dt>
													<dd><a href="{{ asset('bundles/ealpsportal/file/') }}{{ attachment }}" target="{{ course.URLTarget }}">添付ファイル</a></dd>
													{% endfor %}
													{% endif %}
												</dl>
											</li>
											{% endfor %}
										</ul>
									</td>
									{% endfor%}
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div>
							<ul class="nav nav-list">
								{% for course in view.otherCourseArray %}
								<li class="{{ course.semester }}">
									<span>
										<a href="{{ course.URL }}" target="{{ course.URLTarget }}" class="toolTip" data-toggle="tooltip" title="{{ course.relation.getRelationRole().getCaption() }}">
											<i class="icon-book"></i>&nbsp;{{ course.titleName }}
										</a>
										&nbsp;&nbsp;
										{% if course.teacherArray %}<i class="icon-user"></i>&nbsp;{{ course.teacherArray | first }}&nbsp;&nbsp;{% endif %}
										{% if course.subTeacherArray %}<i class="icon-user"></i><span class="toolTip" data-toggle="tooltip" title="{{ course.subTeachers }}">&nbsp;...</span>&nbsp;&nbsp;{% endif %}
										<i class="icon-time"></i>&nbsp;{{ course.opYear }}&nbsp;{{ course.lecPeriod }}&nbsp;{{ course.opDay }}&nbsp;{{ course.opHour }}&nbsp;&nbsp;
										<a href="{{ course.informationURL }}" target="{{ course.URLTarget }}">
											<i class="icon-info-sign"></i>&nbsp;コース情報
										</a>
										&nbsp;&nbsp;
										{% if course.attachmentArray %}
										{% for attachment in course.attachmentArray %}
										<a href="{{ asset('bundles/ealpsportal/file/') }}{{ attachment }}" target="{{ course.URLTarget }}">
											<i class="icon-file"></i>&nbsp;添付ファイル
										</a>
										{% endfor %}
										{% endif %}
									</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}
					
					{% if viewType == 'courseList' %}
					<div class="{{ viewType }}">
						<ul class="nav nav-list">
							{% for course in view %}
							<li class="{{ course.semester }}">
								<span>
									<a href="{{ course.URL }}" target="{{ course.URLTarget }}" class="toolTip" data-toggle="tooltip" title="{{ course.relation.getRelationRole().getCaption() }}">
										<i class="icon-book"></i>&nbsp;{{ course.titleName }}
									</a>
									&nbsp;&nbsp;
									{% if course.teacherArray %}<i class="icon-user"></i>&nbsp;{{ course.teacherArray | first }}&nbsp;&nbsp;{% endif %}
									{% if course.subTeacherArray %}<i class="icon-user"></i><span class="toolTip" data-toggle="tooltip" title="{{ course.subTeachers }}">&nbsp;...</span>&nbsp;&nbsp;{% endif %}
									<i class="icon-time"></i>&nbsp;{{ course.opYear }}&nbsp;{{ course.lecPeriod }}&nbsp;{{course.opDay}}&nbsp;{{ course.opHour }}&nbsp;&nbsp;
									<a href="{{ course.informationURL }}" target="{{ course.URLTarget }}">
										<i class="icon-info-sign"></i>&nbsp;コース情報
									</a>
									&nbsp;&nbsp;
									{% if course.attachmentArray %}
									{% for attachment in course.attachmentArray %}
									<a href="{{ asset('bundles/ealpsportal/file/') }}{{ attachment }}" target="{{ course.URLTarget }}">
										<i class="icon-file"></i>&nbsp;添付ファイル
									</a>
									{% endfor %}
									{% endif %}
									{% if course.infoURL %}
									<a href="{{ course.infoURL }}" target="{{ course.URLTarget }}">
										<i class="icon-globe"></i>&nbsp;{{ course.titleName }}に関するお知らせ
									</a>
									{% endif %}
								</span>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					
					{% if viewType == 'ealpsList' %}
					<div class="{{ viewType }}">
						<ul class="nav nav-list">
							{% for url, departmentList in view %}
								{% for departmentName, department in departmentList %}
									{% if department == 'common' %}
										<li><a href="{{ url }}/{{ department }}/" target="_blank"><i class="icon-bookmark"></i>&nbsp;{{ departmentName }}</a></li>
									{% else %}
										<li><a href="{{ url }}/{{ fiscalYear }}/{{ department }}/" target="_blank"><i class="icon-bookmark"></i>&nbsp;{{ departmentName }}</a></li>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					
				</div>
				{% endfor %}
				
			</div>
			{% endfor %}
			
		</div>
	</div>
	
	<section class="well">
		<h1>各年度共通</h1>
		<ul class="nav nav-list">
			<li><a href="https://moodle-cloud.ealps.shinshu-u.ac.jp/hospital/" target="_blank"><i class="icon-bookmark"></i>&nbsp;附属病院</a></li>
			<li><a href="https://moodle-cloud.ealps.shinshu-u.ac.jp/facility/" target="_blank"><i class="icon-bookmark"></i>&nbsp;大学施設</a></li>
			<li><a href="https://moodle-cloud.ealps.shinshu-u.ac.jp/other/" target="_blank"><i class="icon-bookmark"></i>&nbsp;学外連携・その他</a></li>
			<li><a href="https://moodle-cloud.ealps.shinshu-u.ac.jp/{{fiscalYear}}/eChes/" target="_blank"><i class="icon-bookmark"></i>&nbsp;高等教育コンソーシアム信州 eChes</a></li>
			<br />
		</ul>
	</section>
	
	<section id="accountUIdDump" class="well">
		<pre>
			accountUId:{{ accountUId }}
			{% if not app.request.secure %}
			secure:{{app.request.secure}}
			{% endif %}
		</pre>
	</section>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// 初期表示のタブ
			$('#yearTab a:first').tab('show');
			
			// ツールチップ表示用（bootstrap.js）
			$('.toolTip').tooltip();
			
			// 表示オプション非表示
			$('#viewOption').hide();
			
			// ダンプ用コンテナ非表示
			$('#accountUIdDump').hide();
			
			var currentDate = new Date();
			var firstSemesterDate = new Date();
			var secondSemesterDate = new Date();
			
			firstSemesterDate.setMonth(2);
			secondSemesterDate.setMonth(8);
			
			firstSemesterDate.setDate(19);
			secondSemesterDate.setDate(20);
			
			if(currentDate > firstSemesterDate && currentDate < secondSemesterDate) {
				$('.firstSemesterCheck').addClass('active');
				$('.firstSemesterCheck').children().toggleClass('icon-check icon-white');
			} else {
				$('.secondSemesterCheck').addClass('active');
				$('.secondSemesterCheck').children().toggleClass('icon-check icon-white');
			}
			// 通年表示
			$('.throughSemesterCheck').addClass('active');
			$('.throughSemesterCheck').children().toggleClass('icon-check icon-white');
			
			//不定期表示
			$('.irregularSemesterCheck').addClass('active');
			$('.irregularSemesterCheck').children().toggleClass('icon-check icon-white');
			
			viewTypeHideCheck();
			semesterHideCheck();
			
		});
		
		// 年度タブ制御（bootstrap.js）
		$('#yearTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		// 表示オプションボタン制御
		$('.viewOptionCheck').click(function () {
			$('.viewOptionCheck').toggleClass('active');
			$(this).children().toggleClass('icon-check icon-white');
			$('#viewOption').fadeToggle();
			viewTypeHideCheck();
		});
		
		// ファイルリンクテスト
		$('.scheduleHelpFileButton').click(function() {
			window.open('https://moodle-cloud.ealps.shinshu-u.ac.jp/2013/help/pluginfile.php/171/mod_folder/content/0/%E5%90%84%E7%A8%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B%E5%AD%A6%E7%94%9F%E7%94%A8/%E6%99%82%E9%96%93%E5%89%B2%E5%88%A9%E7%94%A8%E6%96%B9%E6%B3%95.pdf');
		});
		
		// 各種資料リンク
		$('.scheduleHelpFolderButton').click(function() {
			window.open('https://moodle-cloud.ealps.shinshu-u.ac.jp/2013/help/mod/folder/view.php?id=66');
		});
		
		// 学部一覧ボタン
		$('.ealpsListButton').click(function() {
			$('.ealpsListRadio').click();
		});
		
		// 時間割ボタン
		$('.courseScheduleButton').click(function() {
			$('.courseScheduleRadio').click();
		});
		
		$('.courseScheduleRadio').click(function() {
			//$.cookie('viewType', null);
			//$.cookie('viewType', 'courseSchedule', {expire: 365});
			semesterHideCheck();
			$('.courseList').hide();
			$('.ealpsList').hide();
			$('.courseScheduleButton').hide();
			$('.courseSchedule').fadeIn();
			$('.ealpsListButton').fadeIn();
		});
		
		$('.courseListRadio').click(function() {
			//$.cookie('viewType', null);
			//$.cookie('viewType', 'courseList', {expire: 365});
			semesterHideCheck();
			$('.courseSchedule').hide();
			$('.ealpsList').hide();
			$('.courseList').fadeIn();
			$('.courseScheduleButton').fadeIn();
			$('.ealpsListButton').fadeIn();
		});
		
		$('.ealpsListRadio').click(function() {
			//$.cookie('viewType', null);
			//$.cookie('viewType', 'ealpsList', {expire: 365});
			semesterHideCheck();
			$('.courseSchedule').hide();
			$('.courseList').hide();
			$('.ealpsListButton').hide();
			$('.ealpsList').fadeIn();
			$('.courseScheduleButton').fadeIn();
		});
		
		$('.firstSemesterCheck').click(function () {
			$(this).children().toggleClass('icon-check icon-white');
			viewTypeHideCheck();
			$('.firstSemester').fadeToggle();
		});
		
		$('.secondSemesterCheck').click(function () {
			$(this).children().toggleClass('icon-check icon-white');
			viewTypeHideCheck();
			$('.secondSemester').fadeToggle();
		});
		
		$('.throughSemesterCheck').click(function () {
			$(this).children().toggleClass('icon-check icon-white');
			viewTypeHideCheck();
			$('.throughSemester').fadeToggle();
		});
		
		$('.irregularSemesterCheck').click(function () {
			$(this).children().toggleClass('icon-check icon-white');
			viewTypeHideCheck();
			$('.irregularSemester').fadeToggle();
		});
		
		function viewTypeHideCheck() {
			if(!$('.courseScheduleRadio').hasClass('active')) {
				$('.courseSchedule').hide();
			} else {
				$('.courseSchedule').fadeIn();
				$('.courseScheduleButton').hide();
			}
			
			if(!$('.courseListRadio').hasClass('active')) {
				$('.courseList').hide();
			} else {
				$('.courseList').fadeIn();
			}
			
			if(!$('.ealpsListRadio').hasClass('active')) {
				$('.ealpsList').hide();
			} else {
				$('.ealpsList').fadeIn();
				$('.ealpsListButton').hide();
			}
		}
		
		function semesterHideCheck() {
			var semesterCookie = '';
			
			if(!$('.firstSemesterCheck').hasClass('active')) {
				$('.firstSemester').hide();
				//semesterCookie += '0';
			} else {
				$('.firstSemester').fadeIn();
				//semesterCookie += '1';
			}
			
			if(!$('.secondSemesterCheck').hasClass('active')) {
				$('.secondSemester').hide();
				//semesterCookie += '0';
			} else {
				$('.secondSemester').fadeIn();
				//semesterCookie += '1';
			}
			
			if(!$('.throughSemesterCheck').hasClass('active')) {
				$('.throughSemester').hide();
				//semesterCookie += '0';
			} else {
				$('.throughSemester').fadeIn();
				//semesterCookie += '1';
			}
			
			if(!$('.irregularSemesterCheck').hasClass('active')) {
				$('.irregularSemester').hide();
				//semesterCookie += '0';
			} else {
				$('.irregularSemester').fadeIn();
				//semesterCookie += '1';
			}
			//$.cookie('semester', null);
			//$.cookie('semester', semesterCookie, {expire: 365});

		}
		
		/*
		function semesterCookieToggle() {
			var semesterCookie = '';
			//if($.cookie('semester')) {
			//	semesterCookie = $.cookie('semester');
			//} else {
				semesterCookie = '0000';
			//}
			
			if($('.firstSemesterCheck').children().hasClass('icon-check icon-white')) {
				semesterCookie = '1'.concat(semesterCookie.substring(1));
			} else {
				semesterCookie = '0'.concat(semesterCookie.substring(1));
			}
			
			if($('.secondSemesterCheck').children().hasClass('icon-check icon-white')) {
				semesterCookie = semesterCookie.charAt(0).concat('1').concat(semesterCookie.substring(2));
			} else {
				semesterCookie = semesterCookie.charAt(0).concat('0').concat(semesterCookie.substring(2));
			}
			
			if($('.throughSemesterCheck').children().hasClass('icon-check icon-white')) {
				semesterCookie = semesterCookie.substring(0, 2).concat('1').concat(semesterCookie.charAt(3));
			} else {
				semesterCookie = semesterCookie.substring(0, 2).concat('0').concat(semesterCookie.charAt(3));
			}
			
			if($('.irregularSemesterCheck').children().hasClass('icon-check icon-white')) {
				semesterCookie = semesterCookie.substring(0, 3).concat('1');
			} else {
				semesterCookie = semesterCookie.substring(0, 3).concat('0');
			}
			//$.cookie('semester', null);
			//$.cookie('semester', semesterCookie, {expire: 365});
		}
*/
	</script>